{% extends 'base_lecdashboard.html' %}
{% block title %}Course Management{% endblock %}
{% block breadcrumb %}Programme > Course Management{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/useredit.css') }}">

<div class="profile-header">
  <h2 style="margin-left: 20px;">Course Management</h2>
</div>

<hr style="width: 100%;">

<form method="GET" action="{{ url_for('course_create') }}">
  <button type="submit" class="btnCreate" style="margin-left: 90%;">Create</button>
</form>

<div id="studentList">
  <table class="studentList">
    <thead>
      <tr>
        <th>No.</th>
        <th>Course Code</th>
        <th>Course Name</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
    {% for course in courses %}
    <tr>
        <td>{{ loop.index }}</td>
        <td>{{ course.course_code }}</td>
        <td>{{ course.course_name }}</td>
        <td class="btnUpdate">
        <a href="{{ url_for('course_edit', course_code=course.course_code) }}"><i class='fas fa-edit'></i></a>
        </td>
        <td class="btnDelete">
          <a href="#" class="delete-course-btn"
            data-course="{{ course.course_code }}"
            data-name="{{ course.course_name }}">
            <i class="fas fa-trash"></i>
          </a>
        </td>
    </tr>
    {% else %}
    <tr>
        <td colspan="5" style="text-align:center;">No courses available.</td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
</div>

<script>
  $(document).on('click', '.delete-course-btn', function (e) {
    e.preventDefault();

    const courseCode = $(this).data('course');
    const courseName = $(this).data('name');

    Swal.fire({
      title: 'Delete This Course?',
      html: `
      <span style="color: #dc2626;">This action cannot be undone.</span>
        <div style="font-size: 16px; text-align: left; line-height: 1.8; padding-left: 105px;">
          <strong>Course Code :</strong> ${courseCode}<br>
          <strong>Course Name :</strong> ${courseName}
        </div>
      `,
      icon: 'warning',
      showCancelButton: true,
      confirmButtonText: 'Yes, Delete',
      cancelButtonText: 'Cancel',
      reverseButtons: true
    }).then((result) => {
      if (result.isConfirmed) {
        $.ajax({
          url: '/lecturer/course/delete/' + courseCode,
          type: 'DELETE',
          success: function (res) {
            Swal.fire('Deleted!', res.message, 'success').then(() => {
              location.reload();
            });
          },
          error: function (xhr) {
            Swal.fire('Error', xhr.responseJSON?.message || 'Failed to delete course.', 'error');
            
          }
        });
      }
    });
  });
</script>
{% endblock %}
