{% extends 'base_lecdashboard.html' %}
{% block title %}Course Management{% endblock %}
{% block breadcrumb %}Programme > Course Management{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/useredit.css') }}">

<div class="profile-header">
  <h2 style="margin-left: 20px;">Course Management</h2>
  <div style="float: right; margin-top: -48px; margin-right: 40px;">
    <div class="cs_tooltip" style="display:inline-block; margin-right: 845px; margin-top: 3px;">
      <a href="#"><i class="fas fa-chart-bar"></i></a>
      <span class="tooltiptext">Report</span>
    </div>
  </div>
</div>

<hr style="width: 100%;">

<form method="GET" action="{{ url_for('course_create') }}">
  <button type="submit" class="btnCreate" style="margin-left: 90%;">Create</button>
</form>

<div id="studentList">
  <table class="studentList">
    <thead>
      <tr>
        <th>No.</th>
        <th>Course Code</th>
        <th>Course Name</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
    {% for course in courses %}
    <tr>
        <td>{{ loop.index }}</td>
        <td>{{ course.course_code }}</td>
        <td>{{ course.course_name }}</td>
        <td class="btnUpdate">
        <a href="{{ url_for('course_edit', course_code=course.course_code) }}"><i class='fas fa-edit'></i></a>
        </td>
        <td class="btnDelete">
        <a href="#" onclick="return confirm('Delete this course?');"><i class='fa fa-solid fa-trash'></i></a>
        </td>
    </tr>
    {% else %}
    <tr>
        <td colspan="5" style="text-align:center;">No courses available.</td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
